  body {
    min-width: 270px;
    max-width: 300px;
    margin: 10px;
    white-space: nowrap;
    font-family: sans-serif;
    background-color: #ad946d;
  }

  h1 {
    font-size: 15px;
  }

  #container {
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  #rssdropdown {
    display: block; 
    width: 150px; 
    margin-top: 5px;  
    padding: 5px 5px;
  }

  .amount {
    float:left;
    text-align:right;
    width:60px;
    /*border: solid 1px black;*/
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: 12px;
  }

  .amountinput {
    text-align:right;
    width:80px;
    margin: 5px 5px;
    font-size: 12px;
    padding: 5px 5px;
  }

  .totalamount {
    float:left;
    text-align:right;
    width:60px;
    border: solid 1px black;
    margin: 5px 5px;
    padding:5px 5px;
  }

#building_type, #building_type_p {
    width: 200px;
    padding: 5px 5px;
    background-color: #dad27e;
}

#building_level, #building_level_p {
    width: 50px;
    padding: 5px 5px;
    background-color: #dad27e;
}

#get-data, #get-p {
    margin-top: 3px;
    width: 70px; 
    padding: 5px 5px;
    background-color: #dad27e;
        
}

#isuelt {
    margin-top: 3px;
    width: 180px;
    padding: 5px 5px;
    background-color: #dad27e;
}

ul#picker { 
    list-style: none;
    margin: 0; 
    padding: 0;
    text-align: center;
}

ul#picker li { 
    display: block;
    width: 120px;
    margin: 0;
    float: left;
    padding: 10px 1px;
    border: solid 1px grey;
    margin-right: 3px;
    background-color: #dad27e;
}

#picker .left {
    margin-right: 3px;
}

#picker .top {
    margin-bottom: 3px;
}

#clearfloat { 
    clear: both;
}